$variants: (
  primary: $primary-color,
  secondary: $secondary-color,
  primary-darker: $primary-color-darker,
  red: red,
);

@each $variant, $color in $variants {
  .badge-#{$variant} {
    @include badge-variant($color);
  }
}
