$variants: (
  primary: $primary-color,
  secondary: $secondary-color,
  red: red,
);

@each $variant, $color in $variants {
  .button-#{$variant} {
    @include button-variant($color);
  }
}
