@mixin button-variant($color, $hoverColor: $primary-color) {
  background-color: $color;
  color: white;
  font-size: 0.9rem;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: darken($color, 10%);
    color: $hoverColor;
    transition: $main-transition;
  }

  &--bordered {
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $color;
      color: white;
      transition: $main-transition;
    }

    &-animated {
      background-color: transparent;
      border: 1px solid $color;
      color: $color;
      font-size: 0.9rem;
      outline: none;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        transition: $main-transition;
        width: 0;
        height: 100%;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      &:hover {
        color: white;

        &::before {
          width: 100%;
        }
      }
    }
  }
}

@mixin badge-variant($bgColor, $color: #fff) {
  background-color: $bgColor;
  color: $color;
  padding: 0.3rem 1rem;
  border-radius: 1rem;

  &--rounded {
    background-color: $bgColor;
    color: $color;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
  }
}

@mixin icon-variant($color) {
  background-color: transparent;
  color: $color;
  transition: $main-transition;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin alert-variant($bgColor) {
  background-color: $bgColor;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  position: relative;

  &::after {
    content: "X";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
