$primary-color: #e6d7d7;
$secondary-color: #bd7c03;

// Media Queries
$mq-400-down: "only screen and (max-width: 400px)";
$mq-400-up: "only screen and (min-width: 401px)";

$mq-620-down: "only screen and (max-width: 620px)";
$mq-620-up: "only screen and (min-width: 621px)";

$mq-760-down: "only screen and (max-width: 760px)";
$mq-760-up: "only screen and (min-width: 761px)";

$mq-900-down: "only screen and (max-width: 900px)";
$mq-900-up: "only screen and (min-width: 901px)";

$mq-1000-down: "only screen and (max-width: 1000px)";
$mq-1000-up: "only screen and (min-width: 1001px)";

$mq-1180-down: "only screen and (max-width: 1180px)";
$mq-1180-up: "only screen and (min-width: 1181px)";

$mq-1400-down: "only screen and (max-width: 1400px)";
$mq-1400-up: "only screen and (min-width: 1401px)";
